/* Waybar — Popping and Locking theme */

@define-color bg #181921;
@define-color fg #ebdbb2;
@define-color copper #DD8542;
@define-color red #C92C32;
@define-color teal #35736B;
@define-color blue #2A3859;
@define-color dim #928374;

* {
    font-family: "JetBrainsMono Nerd Font Mono";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: alpha(@bg, 0.9);
    color: @fg;
}

/* --- Left --- */

#custom-arch {
    color: #458588;
    font-size: 16px;
    padding: 0 4px 0 8px;
}

#workspaces button {
    padding: 0 8px;
    color: alpha(@dim, 0.4);
    border-bottom: 2px solid transparent;
}

#workspaces button:not(.empty) {
    color: @fg;
}

#workspaces button:hover {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    text-shadow: none;
}

#workspaces button.active {
    color: @fg;
    border-bottom: 2px solid @copper;
}

/* --- Center --- */

#clock {
    color: @fg;
}

#clock.time {
    margin-right: 12px;
}

tooltip {
    background: @bg;
    border: 1px solid @dim;
    border-radius: 0;
}

tooltip label {
    color: @fg;
    font-family: "JetBrainsMono Nerd Font Mono";
    font-size: 14px;
    padding: 20px;
}


/* --- Right modules --- */

#temperature,
#battery,
#backlight,
#custom-volume,
#bluetooth,
#network,
#tray {
    padding: 0 10px;
    color: @fg;
}

#battery.warning {
    color: @copper;
}

#battery.critical {
    color: @red;
}

#custom-volume.muted {
    color: @dim;
}

#bluetooth.disabled {
    color: @dim;
}

#network.disconnected {
    color: @dim;
}
